redirectsOrigin = "config"
plugins = []
functionsDirectory = "E:\\appdev\\MyPlayyerandDownloader\\backend_api\\functions"
functionsDirectoryOrigin = "config-v1"
headers = []

[functions]

[functions."*"]

[build]
publish = "E:\\appdev\\MyPlayyerandDownloader\\backend_api"
publishOrigin = "default"
functions = "E:\\appdev\\MyPlayyerandDownloader\\backend_api\\functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]